@font-face {
	font-family: 'Avenir';
	src: url('./fonts/AvenirLTStd-Medium.otf'), url('./fonts/AvenirLTStd-Medium.otf') format('truetype'),
		url('./fonts/AvenirLTStd-Medium.otf') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir Book';
	src: url('./fonts/AvenirLTStd-Book.otf'), url('./fonts/AvenirLTStd-Book.otf') format('truetype'),
		url('./fonts/AvenirLTStd-Book.otf') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	background-color: aliceblue !important;
}
/* body {
	background: -webkit-linear-gradient(left, #D4A276 20px, transparent 1%) center,
		-webkit-linear-gradient(#D4A276 20px, transparent 1%) center, #F3D5B5 !important;
	background: linear-gradient(90deg, #D4A276 20px, transparent 1%) center,
		linear-gradient(#D4A276 20px, transparent 1%) center, #F3D5B5 !important;
	background-size: 22px 22px !important;
} */
@import "~react-image-gallery/styles/css/image-gallery.css";
.font {
	font-family: "Avenir", sans-serif !important;
}
#main {
	font-family: "Avenir", sans-serif;
}
.title-font {
	font-family: "Avenir Book", sans-serif !important;
	font-weight: 600;
}
.gradient {
	position: relative;
	background-image: linear-gradient(145deg, #ffffff, #e6e6e6);
	z-index: 1;
	box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
	border-radius: 9px;
}

.gradient::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(225deg, #e6e6e6, #ffffff);
	z-index: -1;
	transition: opacity 0.2s linear;
	opacity: 0;
	border-radius: 9px;
}

.gradient:hover::before {
	opacity: 1;
}
.shadow-anim {
	border-radius: 16px;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
	transition: box-shadow 0.2s;
}
.shadow-anim:hover {
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}
.text-shadow {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.185);
}
#upload{
	width: 100%;
align-content: center;
align-items: center;
display: flex;
justify-content: center;
}
html{
	scrollbar-width: none;
}