@font-face {
	font-family: 'Avenir';
	src: url('./fonts/AvenirLTStd-Medium.otf'), url('./fonts/AvenirLTStd-Medium.otf') format('truetype'),
		url('./fonts/AvenirLTStd-Medium.otf') format('svg');
	font-weight: normal;
	font-style: normal;
}
#main {
	font-family: "Roboto";
}
.gradient {
	position: relative;
	background-image: linear-gradient(145deg, #ffffff, #e6e6e6);
	z-index: 1;
	box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
	border-radius: 9px;
}

.gradient::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(225deg, #e6e6e6, #ffffff);
	z-index: -1;
	transition: opacity 0.2s linear;
	opacity: 0;
	border-radius: 9px;
}

.gradient:hover::before {
	opacity: 1;
}
.shadow-anim {
	border-radius: 16px;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
	transition: box-shadow 0.2s;
}
.shadow-anim:hover {
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}
